@import url("https://fonts.googleapis.com/css?family=Bangers");

.collection-detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.collection-detail-left {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.collection-detail-img img {
    width: 100%;
    height: auto; /* Để hình ảnh không bị biến dạng */
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 10px; /* Đảm bảo cách dưới 10px */
    display: block; /* Để hình ảnh không bị kéo dài */
    max-height: 400px; /* Tùy chỉnh độ cao tối đa của hình ảnh */
  }
  
  .form-control {
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 100%; /* Đảm bảo thanh nhập liệu dài ra */
  }
  

.collection-detail-description {
  background-color: #f7f8fa;
  color: #000;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin-bottom: 10px;
  width: 100%;
}

.collection-detail-description h3 {
  font-size: 16px;
  font-weight: bold;
  color: #0f0f0f;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.description-content {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.collection-detail-right {
  max-width: 700px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.collection-detail-right h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  color: #000;
}

.collection-detail-right p {
  font-size: 14px;
  color: #333;
}

.owner-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.owner-info h4 {
  font-size: 18px;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #555;
}

.owner-info .info p {
  margin: 5px 0;
}

.btn-primary {
  background-color: #4b4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #323333;
}

.collection-detail-right form {
  margin-top: 20px;
}
